

<div class="mb-4 ">

    <div class=" text-success">
        <h2> Sign in</h2>
    </div>
   
</div>

<div> Dont have an account?

    <a routerLink="/signup" class="text-decoration-underline fw-medium text-success
     d-inlin-block mb-4">Sign up</a>

</div>
<div class="mt-3"></div>
<form  [formGroup]="form">

    <div class="mb-3">
        <input type="text" class="form-control bg-body-secondary" placeholder="email"
        formControlName="email">
    </div>
    
<!-- <div class="error-feedback" *ngIf="hasDisplayableError('fullName')  &&  form.controls.fullName.hasError('required')"> -->
        <!-- Please enter your full name. -->
<!-- </div> -->

<div class="mb-3">
    <input type="text" class="form-control bg-body-secondary" placeholder="passsword"
    formControlName="password">
</div>

<div class="mt-4">
    <button type="submit" class=" btn btn-success w-100 rounded-3">Sing in</button>
</div>






</form>
